.header {
  background-color: rgba(240, 240, 240, 0.5); /* 半透明に設定 */
  padding: 0px;
  margin: 0px;
  text-align: left;
  position: fixed;  
  top: 0;  
  left: 0;
  width: 100%;  
  z-index: 1000;  
  
  border-radius: 5px;
}

.navLink {
  margin: 0 0px;
  text-decoration: none;
  color: #7c2424;
  padding: 10px 15px;
  border-radius: 3px;
  transition: background 0.2s;
}
.navLink:hover {
  background: #eee;
}
@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.name {
  position: absolute;
  top: 10px;
  left: 50px;
  width: auto;
  height: 100px;
}
