@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.iconGlow {
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
}

.symbol {
  position: absolute;
  font-size: 60px;
  font-family: var(--font-neoneon);
  font-weight: bold;
  text-align: center;
  top: calc(50% - var(--header-height));
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  color: var(--white);
  text-shadow: 0 0 30px var(--white);
  color: #ffffff; /* 文字の色を白に設定 */
  background-color: linear-gradient(135deg, rgba(255,255,255,.4) 8%, rgba(255,255,255,.1) 60%, rgba(255,255,255,.2) 92%);
  filter: drop-shadow(0 0 10px #FFFFFF);
}

.logos {
  position: fixed;
  top: -200px; /* 上から20pxの位置 */
  left: 50px; /* 左から50pxの位置 */
}

@keyframes glowing {
  0% { filter: drop-shadow(0 0 5px #FFFFFF); }
  50% { filter: drop-shadow(0 0 20px #FFFFFF); }
  100% { filter: drop-shadow(0 0 5px #FFFFFF); }
}

.customLogo {
  position: absolute;
  top: -30px;
  left: 350px;
  width: 100px;
  height: 100px;
  filter: drop-shadow(0 0 2px #FFFFFF);
}

/* モバイルデバイス用のスタイル */
@media (max-width: 600px) {
  .customLogo {
    top: -40px; /* モバイル用の位置調整 */
    left: 0px; /* モバイル用の位置調整 */
    width: 50px; /* オプションでサイズ調整 */
    height: 50px; /* オプションでサイズ調整 */
  }
}

/* タブレット用のスタイル */
@media (min-width: 601px) and (max-width: 1024px) {
  .customLogo {
    top: -40px; /* タブレット用の位置調整 */
    left: 400px; /* タブレット用の位置調整 */
    width: 100px; /* オプションでサイズ調整 */
    height: 100px; /* オプションでサイズ調整 */
  }
}
.logoContainer {
  position: relative;
}

.symbol span {
  display: block;
}

@media screen and (min-width: 768px) {
  .symbol {
    font-size: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .symbol {
    font-size:100px;
  }

  .symbol span {
    display: inline-block;
  }
}


.textWhite {
  color: #ffffff; /* text-white */
}

.text40px {
  font-size: 40px; /* text-[40px] */
}

.fontBold {
  font-weight: bold; /* font-bold */
}

.header {
  box-sizing : border-box ;
  backdrop-filter : blur(6px) ;
  border : solid 2px rgba(255,255,255,.3) ;
  background : linear-gradient( 135deg , rgba(255,255,255,.4) 8% , rgba(255,255,255,.1) 60% , rgba(255,255,255,.2) 92% ) ;
  transition : all ease .7s ;
  color : #fff ;
  box-shadow : 2px 2px 3px rgba(255,255,255,.2) inset ; 
  padding: 30px;
  text-align: left;
  position: fixed;  
  top: 0;  
  left: 0;
  width: 100%;  
  z-index: 1000;  
  height: 60px; 
  
}

.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* コンテナとその子要素に対するポインタイベントを無視 */
}

.navLink {
  pointer-events: auto; /* ナビゲーションリンクに対するポインタイベントを有効に */
}

.navLink {
  font-size: 30px; /* 文字の大きさ */
  font-family: var(--font-neoneon); /* フォントファミリー */
  font-weight: bold; /* フォントの太さ */
  text-align: center; /* テキストを中央揃え */
  color: #ffffff; /* 文字の色 */
  filter: drop-shadow(0 0 10px #FFFFFF); /* ドロップシャドウを適用 */
  margin: 0 10px; /* マージン */
  text-decoration: none; /* テキストの下線をなくす */
  padding: 5px 10px; /* パディング */
  border-radius: 3px; /* ボーダーの角を丸くする */
  transition: background 0.2s; /* 背景色の変化を滑らかに */
  
}
.navContainer li {
  pointer-events: auto; /* リストアイテムに対するポインタイベントを有効に */
}
.navLink:hover {
  background: #02c4ff;
}
@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.size {
  position: absolute;
  top: 0px;
  left: 80px;
  width: auto;
  height: 20px;
}
