@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.text {
  font-family: 'Righteous', sans-serif;
}

.textWhite {
  color: #ffffff; /* text-white */
}

.text40px {
  font-size: 40px; /* text-[40px] */
}

.fontBold {
  font-weight: bold; /* font-bold */
}
.navLink {
  font-family: 'Righteous', sans-serif;
  color: white;
  font-size: 18px;
  
}

.header {
  box-sizing : border-box ;
  backdrop-filter : blur(6px) ;
  border : solid 2px rgba(255,255,255,.3) ;
  background : linear-gradient( 135deg , rgba(255,255,255,.4) 8% , rgba(255,255,255,.1) 60% , rgba(255,255,255,.2) 92% ) ;
  transition : all ease .7s ;
  color : #fff ;
  box-shadow : 2px 2px 3px rgba(255,255,255,.2) inset ; 
  padding: 30px;
  text-align: left;
  position: fixed;  
  top: 0;  
  left: 0;
  width: 100%;  
  z-index: 1000;  
  height: 60px; 
  
}

.navLink {
  margin: 0 10px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 3px;
  transition: background 0.2s;
}
.navLink:hover {
  background: #0474fc;
}
@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.size {
  position: absolute;
  top: 0px;
  left: 80px;
  width: auto;
  height: 20px;
}
