

.card{
  top : 1100px;
  right : 25%;
  position : relative ;
  z-index : 2 ;
  display : flex ;
  flex-direction : column ;
  align-items : center ;
  justify-content : flex-end ;
  width : 30% ;
  height : 120% ;
  box-sizing : border-box ;
  text-decoration : none ;

}
.main{
  
  display : flex ;
  flex-direction : column ;
  align-items : center ;
  width : 100% ;
  height : 300% ;
  padding : 32px ;
  box-sizing : border-box ;
  border-radius : 24px ;
  backdrop-filter : blur(6px) ;
  border : solid 2px rgba(255,255,255,.3) ;
  background : linear-gradient( 135deg , rgba(255,255,255,.4) 8% , rgba(255,255,255,.1) 60% , rgba(255,255,255,.2) 92% ) ;
  transition : all ease .7s ;
  color : #fff ;
  box-shadow : 2px 2px 3px rgba(255,255,255,.2) inset ;
 
  /* 他のスタイル... */
}
.touch{
  position : absolute  ;
  z-index : 2 ;
  width : 33.3333% ;
  height : 33.3333% ;
  box-sizing : border-box ;
}
.touch__1{
  top : 0 ;
  left : 0 ;
}
.touch__2{
  top : 0 ;
  left : 0 ;
  right : 0 ;
  margin : 0 auto ;
}
.touch__3{
  top : 0 ;
  right : 0 ;
}
.touch__4{
  top : 33.3333% ;
  left : 0 ;
}
.touch__6{
  top : 33.3333% ;
  right : 0 ;
}
.touch__7{
  bottom : 0 ;
  left : 0 ;
}
.touch__8{
  bottom : 0 ;
  left : 0 ;
  right : 0 ;
  margin : 0 auto ;
}
.touch__9{
  bottom : 0 ;
  right : 0 ;
}
.icon{
  position : relative ;
  z-index : 10 ;
  width : 140px ;
  height : 140px ;
  border-radius : 50% ;
  background : #fff ;
  overflow : hidden ;
  transition : all ease 1s ;
}
.img{
  width : 100% ;
}
.name{
  position : relative ;
  z-index : 1 ;
  font-size : 14px ;
  margin : 16px 0 8px ;
}
.account{
  position : relative ;
  z-index : 1 ;
  display : block ;
  font-size : 10px ;
  text-decoration : none ;
  color : #ddd ;
  margin : 0 0 32px 0 ;
}
.text{
  position : relative ;
  width : 100% ;
  margin : 0 ;
  box-sizing : border-box ;
  border-radius : 8px ;
  transition : all ease 1s ;
}
.link{
  z-index : 4 ;
  display : flex ;
  justify-content : center ; 
  align-items : center ;
  padding : 8px 16px ;
  color : #fff ;
  background : linear-gradient( 90deg , #2ad2ff , #00e998 ) ;
}
.comment{
  z-index : 3 ;
  padding : 12px;
  font-size : 12px ;
  line-height : 1.4 ;
  color : #444 ;
  background : #FFF ;
}
.link:not(:last-child){
  margin-bottom : 16px ;
}
.touch__1:hover ~ .main{
  transform : rotateX(20deg) rotateY(-20deg) rotateZ(10deg);
}
.touch__1:hover ~ .main .icon{
  transform : translateX(-20px) translateY(-10px) translateZ(60px);
  box-shadow : 20px 20px 24px rgba(0,0,0,.2) ;
}
.touch__2:hover ~ .main{
  transform : rotateX(20deg) rotateY(0) rotateZ(0);
}
.touch__2:hover ~ .main .icon{
  transform : translateX(0) translateY(-10px) translateZ(60px);
  box-shadow : 0 20px 24px rgba(0,0,0,.2) ;
}
.touch__3:hover ~ .main{
  transform : rotateX(20deg) rotateY(20deg) rotateZ(-10deg);
}
.touch__3:hover ~ .main .icon{
  transform : translateX(20px) translateY(-10px) translateZ(60px);
  box-shadow : -20px 20px 24px rgba(0,0,0,.2) ;
}
.touch__4:hover ~ .main{
  transform : rotateX(0) rotateY(-40deg) rotateZ(0);
}
.touch__6:hover ~ .main{
  transform : rotateX(0) rotateY(40deg) rotateZ(0);
}
.touch__7:hover ~ .main{
  transform : rotateX(-20deg) rotateY(-20deg) rotateZ(-10deg);
}
.touch__7:hover ~ .main .text{
  transform : translateX(-20px) translateY(10px) translateZ(60px);
  box-shadow : 20px -20px 24px rgba(0,0,0,.2) ;
}
.touch__8:hover ~ .main{
  transform : rotateX(-20deg) rotateY(0) rotateZ(0);
}
.touch__8:hover ~ .main .text{
  transform : translateX(0) translateY(10px) translateZ(60px);
  box-shadow : 0 -20px 24px rgba(0,0,0,.2) ;
}
.touch__9:hover ~ .main{
  transform : rotateX(-20deg) rotateY(20deg) rotateZ(10deg);
}
.touch__9:hover ~ .main .text{
  transform : translateX(20px) translateY(10px) translateZ(60px);
  box-shadow : -20px -20px 24px rgba(0,0,0,.2) ;
}







/* 本体には関係ないスタイル */
.header{
  
  top : 100%;
  position : absolute ;
  width : 100% ;
  left : 0%;
  height : 250px ;
  display : flex ;
  flex-direction : column ;
  justify-content : flex-start ;
  align-items : center ;
  background-color : hsla(205,100%,13%,1) ;
  background-image:
  radial-gradient(at 49% 49%, hsla(191,77%,26%,1) 0px, transparent 50%),
  radial-gradient(at 99% 44%, hsla(208,62%,38%,1) 0px, transparent 50%),
  radial-gradient(at 100% 0%, hsla(208,39%,40%,1) 0px, transparent 50%),
  radial-gradient(at 62% 100%, hsla(192,71%,38%,1) 0px, transparent 50%),
  radial-gradient(at 1% 100%, hsla(196,77%,18%,1) 0px, transparent 50%),
  radial-gradient(at 7% 69%, hsla(200,45%,39%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(191,52%,49%,1) 0px, transparent 50%);
  font-family : sans-serif ;
  
}
.circle{
  position : absolute ;
  z-index : 1 ;
  aspect-ratio : 1 / 1 ;
  box-sizing : border-box ;
  border-radius : 60px ;
  animation : rotate ease infinite ;
}
.circle_1{
  position: absolute;
  top : 30% ;
  right : 0% ;
  width : 43% ;
  background-image: url('/ai1.jpg');
  background-size: cover;
  background-position: center;
  z-index : 0;
  border-radius: 50%;
}

.circle_2{
  top : 10% ;
  left : 50% ;
  width : 100px ;
  background-image: url('/ai4.jpg');
  background-size: cover;
  background-position: center;
  border : solid 6px rgba(225, 26, 26, 0.3) ;
  border-radius: 50%;
}
.circle_3{
  top : 700px ;
  left : 400px ;
  width : 200px ;
  background-image: url('/ai8.jpg');
  background-size: cover;
  background-position: center;
  border : solid 4px rgba(67, 0, 253, 0.3) ;
  border-radius: 50%;
}

/* .circle_5{
  top : 350px ;
  left : 20px ;
  width : 400px ;
  background-image: url('/ai7.jpg');
  background-size: cover;
  background-position: center;
  border : solid 2px #0c0c0c ;
  border-radius: 50%;
} */
/* .circle_6{
  top : 250px;
  bottom : 0px ;
  left : 10px;
  right : 100px ;
  width : 100px ;
  background-image: url('/ai5.jpg');
  background-size: cover;
  background-position: center;
  border : solid 2px #c0dbdb ;
  border-radius: 50%;
} */
.circle_7{
  top : 10% ;
  left : 250px ;
  width : 150px ;
  background-image: url('/ai6.jpg');
  background-size: cover;
  background-position: center;
  border : solid 2px #bd71a0 ;

  border-radius: 50%;
}

@keyframes rotate{
  0%  { transform : rotate(0) ;}
  100%{ transform : rotate(180deg) ;}
  from {
    transform: translateY(4%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
@keyframes blurEffect {
  0%, 100% {
    filter: blur(0);
  }
  10% {
    filter: blur(10px);
  }
}

@keyframes noiseEffect {
  0%, 100% {
    filter: grayscale(0) sepia(0);
  }
  50% {
    filter: grayscale(1) sepia(1);
  }
}
@keyframes opacityChange {
  0%   {opacity: 1;}
  50%  {opacity: 0.8;}
  100% {opacity: 1;}
}
@keyframes scaleChange {
  0%   {transform: scale(1);}
  50%  {transform: scale(1.05);} 
  100% {transform: scale(1);}
}