/* HomePage.module.css */
.body {
    color: white;
    user-select: none;
}

.html,
.body,


.root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.imageHoverEffect {
    transition: brightness 0.3s ease;
  }
  
  .imageHoverEffect:hover {
    filter: brightness(1.5);
  }
  .buttonPosition {
    position: absolute;
    top: 600px;
    right: 300px;
  }
/* HomePage.module.css */
.labelPosition {
    position: relative;
}
  .labelPosition1 {
    position: absolute;
    top: 68%;
    left: 48%;
  }
  
  /* ラベル2の位置 */
  .labelPosition2 {
    position: absolute;
    top: 60%;
    left: 40%;
  }
  .labelPosition3 {
    position: absolute;
    top: 60%;
    left: 57%;
  }
  .labelPosition4 {
    position: absolute;
    top: 60%;
    left: 30%;
  }
  .labelPosition5 {
    position: absolute;
    top: 62%;
    left: 20%;
  }
  .labelPosition6 {
    position: absolute;
    top: 60%;
    left: 5%;
  }
  .labelPosition7 {
    position: absolute;
    top: 60%;
    left: 67%;
  }
  .labelPosition8 {
    position: absolute;
    top: 62%;
    left: 77%;
  }
  .labelPosition9 {
    position: absolute;
    top: 60%;
    left: 90%;
  }
  .modalWrapper {
    position: relative;
  }

  @media (max-width: 600px) {
    .modal {
      width: 90vw;
      background-color: white;
      border-radius: 24px;
      padding: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @media (min-width: 600px) {
    .modal {
      width: 50vw;
      background-color: white;
      border-radius: 24px;
      padding: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  
  /* 中画面デバイス用のスタイル */
  @media (min-width: 600px) and (max-width: 1199px) {
    .labelPosition {
      /* 画面のサイズに応じて位置を調整 */
      top: 20vh;
      left: 20vw;
    }
  }
  
  /* 大画面デバイス用のスタイル */
  @media (min-width: 1200px) {
    .labelPosition {
      /* 画面のサイズに応じて位置を調整 */
      top: 30vh;
      left: 30vw;
    }
  }