/* ImageUploadModal.module.css */

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  /* ImageUploadModal.module.css */

.sidebarOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Overlay should be on top of other content */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar {
    background : linear-gradient( 135deg , rgba(255,255,255,.4) 8% , rgba(255,255,255,.1) 60% , rgba(255,255,255,.2) 92% ) ;
    transition : all ease .7s ;
    color : #fff ;
    padding: 20px;
    width: 1000px; /* Adjust width as needed */
    height: 500px;
    max-width: 90%; /* Ensure it doesn't exceed the width of the screen */
    border-radius: 8px; /* Optional: for rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: for shadow */
    z-index: 1001; /* Sidebar should be above the overlay */
    animation: fadeIn 0.3s ease forwards;
  }
  
  .sidebarClosing {
    animation: fadeOut 0.3s ease forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(10%);
    }
  }
  .uploadButton {
    padding: 10px 20px;
    position: relative;
    left: 45%;
    background-color: #e5e7f0;
    color: rgb(30, 28, 28);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }