@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Darumadrop+One&family=DotGothic16&family=Monomaniac+One&family=Rampart+One&family=Stick&display=swap');



.modal {
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background: linear-gradient(135deg, rgba(255,255,255,.4) 8%, rgba(255,255,255,.1) 60%, rgba(255,255,255,.2) 92%);
  transition: all ease .7s;
  color: #000000;
  padding: 20px;
  z-index: 1000;

  /* 吹き出しのスタイル */
  border-radius: 20px; /* 角丸の追加 */
  box-shadow: 0 0 10px rgba(0,0,0,0.2); /* 影の追加 */
}

.modal::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 100%;
  transform: translateX(-20%) rotate(-40deg);
  border-width: 10px;
  border-style: solid;
  border-color: rgba(255,255,255,.4) transparent transparent transparent;
}



.box{
    position : relative ;
    display : flex ;
    flex-wrap : wrap ;
    perspective : 400px ;
    width : 500px ;
    height :300px ;
    border-radius: 20px;
}
.box::before{
    content : '' ;
    position : absolute ;
    z-index : -1 ;
    bottom : 20px ;
    left : 0 ;
    right : 0 ;
    margin : 0 auto ;
    width : 160px ;
    height : 24px ;
    border-radius : 50% ;
    background : radial-gradient( rgba(0,0,0,.4) 10%, rgba(0,0,0,0) 50%) ;
    animation : shadow ease 3s infinite alternate ;
    opacity : .5 ;
}
.area{
    width : calc( 100% / 3 ) ;
    height : calc( 100% / 3 ) ; 
    box-sizing : border-box ;
}
.robot {
    position: fixed; /* 画面に対して固定 */
    top: 50%; /* 上から50%の位置 */
    left: 80%; /* 左から50%の位置 */
    transform: translate(-50%, -50%); /* 中心を基準点として配置 */
    z-index: 2;
    width: 192px;
    height: 64px;
    border-radius: 20px;
    /* その他のスタイル */
  }

  
  
.front,
.face{
    position : absolute ;
    z-index : 1 ;
    top : 0 ;
    left : 0 ;
    width : 200px ;
    height : 64px ;
    transform-origin : 50% 50% -40px ;
    transition : all ease .2s ;
    transform : rotateX(0) rotateY(0) ;
    perspective : 400px ;
    border-radius: 20px;
}
.face{
    z-index : 2 ;
    background : #fff; /* 背景色を白に設定 */
    background-image:
    radial-gradient(at 40% 20%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgba(0,0,0,0.1) 0px, transparent 50%);
    border-radius: 20px;
}
.face__wrapper{
    position : absolute ;
    top : 0 ;
    left : 0 ;
    right : 0 ;
    bottom : 0 ;
    margin : auto ;
    width : 200px ;
    height : 64px ;
    background : #333 ;
    box-shadow : 0 0 8px rgba(0,0,0,.6) inset ;
    border-radius: 20px;
}

.triangleMouth {
  content: '';
  position: absolute;
  bottom: 10px; /* 位置調整はそのまま */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent; /* 左側の透明な境界を小さく */
  border-right: 8px solid transparent; /* 右側の透明な境界を小さく */
  border-bottom: 8px solid #ffde55; /* 下向きの三角形を形成し、サイズを小さく */
  opacity: 1;
}

/* .face__wrapperにカーソルを当てた時に.triangleMouthのアニメーションを実行 */
.face__wrapper:hover .triangleMouth {
  animation: mouthBlink linear 0s forwards;
}

@keyframes mouthBlink {
  0%, 49% {
      opacity: 1;
  }
  50%, 100% {
      opacity: 0;
  }
}
.eye{
    position : absolute ;
    z-index : 1 ;
    top : 0 ;
    left : 0 ;
    right : 0 ;
    bottom : 0 ;
    margin : auto ;
    width : 150px ;
    height : 30px ;
    transition : all ease .3s ;
    
}
.eye::before,
.eye::after{
    content : '' ;
    position : absolute ;
    top : 0 ;
    bottom : 0 ;
    margin : auto ;
    width : 30px ;
    height : 30px ;
    border-radius : 20px ;
    background : #ffde55 ;
    box-sizing : border-box ;
    border : solid 1px #a48c00 ;
    box-shadow : 0 0 8px rgba(255,255,0 ,1)  ;
    animation : eye linear 6s infinite ;
    transition : all ease .2s ;
    
}
.eye::before{
    left : 0 ;
}
.eye::after{
    right : 0 ;
}
.text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    position : absolute ;
    z-index : 2 ;
    top : 0 ;
    left : 0 ;
    right : 0 ;
    bottom : 0 ;
    margin : auto ;
    width : 80% ;
    height : 70% ;
    font-size : 24px ;
    font-weight : bold ;
    color : transparent ;
    
    letter-spacing : 3px ;
    transition : all ease-out .2s ;
    border-radius: 20px;
}
.text::before,
.text::after{
    content : '' ;
    position : absolute ;
    width : 0 ;
    height : 2px ;
    background : #ffde55 ;
    transition : all ease-out .2s ;
    box-shadow : 0 0 8px rgba(255,255,0 ,1)  ;
}
.text::before{
    top : 0 ;
    left : 0 ;
}
.text::after{
    bottom : 0 ;
    right : 0 ;
}
@keyframes eye {
    0%  { height : 30px ; }
    10% { height : 30px ; }
    11% { height : 3px ; }
    12% { height : 30px ; }
    60% { height : 30px ; }
    61% { height : 3px ; }
    62% { height : 30px ; }
    63% { height : 30px ; }
    64% { height : 3px ; }
    65% { height : 30px ; }
    100%{ height : 30px ; }
}
.parts_A::before,
.parts_A::after{
    background : #888 ;
    background-color:hsla(0,4%,45%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(25,10%,31%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(188,8%,39%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(350,2%,45%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340,8%,20%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(19,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(29,15%,16%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(339,0%,60%,1) 0px, transparent 50%);
}
.parts_A::before,
.parts_A::after{
    content : '' ;
    position : absolute ;
    top : 0;
    width : 80px ;
    height : 80px ;
    transition : all ease .2s ;
}
.parts_A::before{
    right : 0 ;
    transform-origin : right center ;
    transform : rotateY(253deg) skewY(0);
}
.parts_A::after{
    left : 0 ;
    transform-origin : left center ;
    transform : rotateY(107deg) skewY(0);
}
.parts_B::before,
.parts_B::after{
    content : '' ;
    position : absolute ;
    top : 0 ;
    right : 0 ;
    width : 192px ;
    height : 64px ;
    transition : all ease .2s ;
}
.parts_B::before{
    transform-origin : bottom center ;
    transform : rotatex(96deg) skewX(0deg);
    background-color:hsla(0,4%,45%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(25,10%,31%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(188,8%,39%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(350,2%,45%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340,8%,20%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(19,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(29,15%,16%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(339,0%,60%,1) 0px, transparent 50%);
}
.parts_B::after{
    transform-origin : top center ;
    transform : rotatex(-96deg) skewX(0deg);
    background-color:hsla(0,4%,45%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(25,10%,31%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(188,8%,39%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(350,2%,45%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340,8%,20%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(19,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(29,15%,16%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(339,0%,60%,1) 0px, transparent 50%);
}
.area_1:hover ~ .robot .front,
.area_1:hover ~ .robot .face{
    transform : rotateX(20deg) rotateY(-35deg) ;
}
.area_1:hover ~ .robot .parts_A::before{
    transform : rotateY(207deg) skewY(-28deg);
}
.area_1:hover ~ .robot .parts_A::after{
    transform : rotateY(0deg) skewY(0deg);
}
.area_1:hover ~ .robot .parts_B::before{
    transform : rotatex(126deg) skewX(-46deg);
}
.area_1:hover ~ .robot .parts_B::after{
    transform : rotatex(-57deg) skewX(47deg);
    opacity : 0 ;
}
.area_2:hover ~ .robot .front,
.area_2:hover ~ .robot .face{
    transform : rotateX(20deg) rotateY(0) ;
}
.area_2:hover ~ .robot .parts_A::before{
    transform : rotateY(300deg) skewY(-30deg);
    opacity : 0 ;
}
.area_2:hover ~ .robot .parts_A::after{
    transform : rotateY(60deg) skewY(30deg);
    opacity : 0 ;
}
.area_2:hover ~ .robot .parts_B::before{
    transform : rotatex(116deg) skewX(0deg);
}
.area_2:hover ~ .robot .parts_B::after{
    transform : rotatex(-57deg) skewX(0deg);
    opacity : 0 ;
}
.area_3:hover ~ .robot .front,
.area_3:hover ~ .robot .face{
    transform : rotateX(20deg) rotateY(35deg) ;
}
.area_3:hover ~ .robot .parts_A::before{
    transform : rotateY(360deg) skewY(0deg);
}
.area_3:hover ~ .robot .parts_A::after{
    transform : rotateY(153deg) skewY(28deg);
}
.area_3:hover ~ .robot .parts_B::before{
    transform : rotatex(126deg) skewX(46deg);
}
.area_3:hover ~ .robot .parts_B::after{
    transform : rotatex(-57deg) skewX(-47deg);
    opacity : 0 ;
}
.area_4:hover ~ .robot .front,
.area_4:hover ~ .robot .face{
    transform : rotateX(0) rotateY(-35deg) ;
}
.area_4:hover ~ .robot .parts_A::before{
    transform : rotateY(207deg) skewY(0);
}
.area_4:hover ~ .robot .parts_A::after{
    transform : rotateY(0deg) skewY(0deg);
}
.area_4:hover ~ .robot .parts_B::before{
    transform : rotatex(93deg) skewX(-52deg);
    opacity : 0 ;
}
.area_4:hover ~ .robot .parts_B::after{
    transform : rotatex(-93deg) skewX(50deg);
    opacity : 0 ;
}
.area_6:hover ~ .robot .front,
.area_6:hover ~ .robot .face{
    transform : rotateX(0) rotateY(35deg) ;
}
.area_6:hover ~ .robot .parts_A::before{
    transform : rotateY(360deg) skewY(0deg);
}
.area_6:hover ~ .robot .parts_A::after{
    transform : rotateY(153deg) skewY(0);
}
.area_6:hover ~ .robot .parts_B::before{
    transform : rotatex(93deg) skewX(52deg);
    opacity : 0 ;
}
.area_6:hover ~ .robot .parts_B::after{
    transform : rotatex(-93deg) skewX(-50deg);
    opacity : 0 ;
}
.area_7:hover ~ .robot .front,
.area_7:hover ~ .robot .face{
    transform : rotateX(-20deg) rotateY(-35deg) ;
}
.area_7:hover ~ .robot .parts_A::before{
    transform : rotateY(207deg) skewY(28deg);
}
.area_7:hover ~ .robot .parts_A::after{
    transform : rotateY(0deg) skewY(0deg);
}
.area_7:hover ~ .robot .parts_B::before{
    transform : rotatex(57deg) skewX(-47deg);
    opacity : 0 ;
}
.area_7:hover ~ .robot .parts_B::after{
    transform : rotatex(-126deg) skewX(46deg);
}
.area_8:hover ~ .robot .front,
.area_8:hover ~ .robot .face{
    transform : rotateX(-20deg) rotateY(0) ;
}
.area_8:hover ~ .robot .parts_A::before{
    transform : rotateY(300deg) skewY(30deg);
    opacity : 0 ;
}
.area_8:hover ~ .robot .parts_A::after{
    transform : rotateY(60deg) skewY(-30deg);
    opacity : 0 ;
}
.area_8:hover ~ .robot .parts_B::before{
    transform : rotatex(57deg) skewX(0deg);
    opacity : 0 ;
}
.area_8:hover ~ .robot .parts_B::after{
    transform : rotatex(-116deg) skewX(0deg);
}
.area_9:hover ~ .robot .front,
.area_9:hover ~ .robot .face{
    transform : rotateX(-20deg) rotateY(35deg) ;
}
.area_9:hover ~ .robot .parts_A::before{
    transform : rotateY(360deg) skewY(0deg);
}
.area_9:hover ~ .robot .parts_A::after{
    transform : rotateY(153deg) skewY(-28deg);
}
.area_9:hover ~ .robot .parts_B::before{
    transform : rotatex(57deg) skewX(47deg);
    opacity : 0 ;
}
.area_9:hover ~ .robot .parts_B::after{
    transform : rotatex(-126deg) skewX(-46deg);
}
.area_1:hover ~ .robot .eye{
    transform : translate(-16px , -8px ) ;
}
.area_4:hover ~ .robot .eye{
    transform : translate(-16px , 0 ) ;
}
.area_7:hover ~ .robot .eye{
    transform : translate(-16px , 8px ) ;
}
.area_2:hover ~ .robot .eye{
    transform : translate( 0 , -8px ) ;
}
.area_8:hover ~ .robot .eye{
    transform : translate( 0 , 8px ) ;
}
.area_3:hover ~ .robot .eye{
    transform : translate(16px , -8px ) ;
}
.area_6:hover ~ .robot .eye{
    transform : translate(16px , 0 ) ;
}
.area_9:hover ~ .robot .eye{
    transform : translate(16px , 8px ) ;
}
.robot:hover .eye::before,
.robot:hover .eye::after{
    height : 3px ;
    animation-play-state : paused ;
    animation : hover ease .5s ;
    animation-fill-mode : forwards ;
}
.robot:hover .text{
    color : #ffde55 ;
    text-shadow : 0 0 4px #ffde55 ;
}
.robot:hover .text::before,
.robot:hover .text::after{
    width : 100% ;
}
@keyframes float {
    0%  { 
        transform : translate( 0 , 0 ) ;
    }
    100%{ 
        transform : translate( 0 , 20px ) ;
    }
}
@keyframes shadow {
    0%  { 
        transform : scale( 1 ) ;
        opacity : .5 ;
    }
    100%{ 
        transform : scale( 1.2 ) ;
        opacity : 1 ;
    }
}
@keyframes hover {
    0%  { 
        opacity : 1 ;
    }
    100%{ 
        opacity : 0 ;
    }
}










/* 本体には関係ないスタイル */
.container{
    position: fixed;
    width: 40%;
    height: 600px;
    top: 60%;
    left: 80%; /* 中央揃えに変更 */
    transform: translateX(-50%); /* 中央揃えのために追加 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 20px;
}
.button:not(:last-child){
    margin-bottom : 60px ;
}


/* Robot.module.css */
.modalContent {
    font-family: var(--font-dot);
    font-size: 20px;
    text-align: center;
    white-space: pre; /* 改行を保持 */
    
  }
  
  .modalContent::before {
    font-family: var(--font-dot);
    color: white;
    content: "";
    animation: typing1 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }

  .modalContent.typing2::before {
    animation: typing2 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }
  .modalContent.typing3::before {
    animation: typing3 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }
  
  .modalContent.typing4::before {
    animation: typing4 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }
  
  .modalContent.typing5::before {
    animation: typing5 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }

  .modalContent.typing6::before {
    animation: typing6 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing1 {
    0% { content: ''; }
    5% { content: '『'; }
    10% { content: '『G'; }
    15% { content: '『Ga'; }
    20% { content: '『Gal'; }
    25% { content: '『Gall'; }
    30% { content: '『Galle'; }
    35% { content: '『Gallery'; }
    40% { content: '『Gallery.'; }
    45% { content: '『Gallery.a'; }
    50% { content: '『Gallery.ai'; }
    55% { content: '『Gallery.ai』'; }
    60% { content: '『Gallery.ai』へ'; }
    65% { content: '『Gallery.ai』へヨ'; }
    70% { content: '『Gallery.ai』へヨー'; }
    75% { content: '『Gallery.ai』へヨーコ'; }
    80% { content: '『Gallery.ai』へヨーコソ'; }
    85% { content: '『Gallery.ai』へヨーコソ！'; }
    90% { content: '『Gallery.ai』へヨーコソ！ニャ'; }
    95% { content: '『Gallery.ai』へヨーコソ！ニャ！'; }
    100% { content: '『Gallery.ai』へヨーコソ！ニャ！'; }
  }
  @keyframes typing2 {
    0% { content: ''; }
    5% { content: '『'; }
    10% { content: '『G'; }
    15% { content: '『Ga'; }
    20% { content: '『Gal'; }
    25% { content: '『Gall'; }
    30% { content: '『Galle'; }
    35% { content: '『Gallery'; }
    40% { content: '『Gallery.'; }
    45% { content: '『Gallery.a'; }
    50% { content: '『Gallery.ai'; }
    55% { content: '『Gallery.ai』'; }
    60% { content: '『Gallery.ai』ハ'; }
    65% { content: '『Gallery.ai』ハA'; }
    70% { content: '『Gallery.ai』ハAI'; }
    75% { content: '『Gallery.ai』ハAIア'; }
    80% { content: '『Gallery.ai』ハAIアー'; }
    85% { content: '『Gallery.ai』ハAIアート'; }
    90% { content: '『Gallery.ai』ハAIアートサ'; }
    95% { content: '『Gallery.ai』ハAIアートサー'; }
    100% { content: '『Gallery.ai』ハAIアートサービスニャ！'; }
  }

  @keyframes typing3 {
    0% { content: ''; }
    5% { content: 'オ'; }
    10% { content: 'オタ'; }
    15% { content: 'オタメ'; }
    20% { content: 'オタメシ'; }
    25% { content: 'オタメシニ'; }
    30% { content: 'オタメシニ、'; }
    35% { content: 'オタメシニ、ツ'; }
    40% { content: 'オタメシニ、ツク'; }
    45% { content: 'オタメシニ、ツクッ'; }
    50% { content: 'オタメシニ、ツクッテ'; }
    55% { content: 'オタメシニ、ツクッテミ'; }
    60% { content: 'オタメシニ、ツクッテミテ'; }
    65% { content: 'オタメシニ、ツクッテミテニ'; }
    70% { content: 'オタメシニ、ツクッテミテニャ'; }
    75% { content: 'オタメシニ、ツクッテミテニャ！'; }
    80% { content: 'オタメシニ、ツクッテミテニャ！'; }
    85% { content: 'オタメシニ、ツクッテミテニャ！'; }
    90% { content: 'オタメシニ、ツクッテミテニャ！'; }
    95% { content: 'オタメシニ、ツクッテミテニャ！'; }
    100% { content: 'オタメシニ、ツクッテミテニャ！'; }
  }
  
  /* typing4 アニメーション */
  @keyframes typing4 {
    0% { content: ''; }
    5% { content: '生'; }
    10% { content: '生成'; }
    15% { content: '生成し'; }
    20% { content: '生成した'; }
    25% { content: '生成した画'; }
    30% { content: '生成した画像'; }
    35% { content: '生成した画像は'; }
    40% { content: '生成した画像は自'; }
    45% { content: '生成した画像は自分'; }
    50% { content: '生成した画像は自分の'; }
    55% { content: '生成した画像は自分の個'; }
    60% { content: '生成した画像は自分の個展'; }
    65% { content: '生成した画像は自分の個展に'; }
    70% { content: '生成した画像は自分の個展に飾'; }
    75% { content: '生成した画像は自分の個展に飾る'; }
    80% { content: '生成した画像は自分の個展に飾るこ'; }
    85% { content: '生成した画像は自分の個展に飾ること'; }
    90% { content: '生成した画像は自分の個展に飾ることも'; }
    95% { content: '生成した画像は自分の個展に飾ることもで'; }
    100% { content: '生成した画像は自分の個展に飾ることもできるにゃ！'; }
}
  
  /* typing5 アニメーション */
  @keyframes typing5 {
    0% { content: ''; }
    5% { content: '他'; }
    10% { content: '他に'; }
    15% { content: '他にも'; }
    20% { content: '他にも他'; }
    25% { content: '他にも他の'; }
    30% { content: '他にも他の人'; }
    35% { content: '他にも他の人の'; }
    40% { content: '他にも他の人の個'; }
    45% { content: '他にも他の人の個展'; }
    50% { content: '他にも他の人の個展を'; }
    55% { content: '他にも他の人の個展を見'; }
    60% { content: '他にも他の人の個展を見る'; }
    65% { content: '他にも他の人の個展を見るこ'; }
    70% { content: '他にも他の人の個展を見ること'; }
    75% { content: '他にも他の人の個展を見ることも'; }
    80% { content: '他にも他の人の個展を見ることもで'; }
    85% { content: '他にも他の人の個展を見ることもでき'; }
    90% { content: '他にも他の人の個展を見ることもできる'; }
    95% { content: '他にも他の人の個展を見ることもできるニャ'; }
    100% { content: '他にも他の人の個展を見ることもできるニャ！'; }
}

@keyframes typing5 {
  0% { content: ''; }
  5% { content: '他'; }
  10% { content: '他に'; }
  15% { content: '他にも'; }
  20% { content: '他にも他'; }
  25% { content: '他にも他の'; }
  30% { content: '他にも他の人'; }
  35% { content: '他にも他の人の'; }
  40% { content: '他にも他の人の個'; }
  45% { content: '他にも他の人の個展'; }
  50% { content: '他にも他の人の個展を'; }
  55% { content: '他にも他の人の個展を見'; }
  60% { content: '他にも他の人の個展を見る'; }
  65% { content: '他にも他の人の個展を見るこ'; }
  70% { content: '他にも他の人の個展を見ること'; }
  75% { content: '他にも他の人の個展を見ることも'; }
  80% { content: '他にも他の人の個展を見ることもで'; }
  85% { content: '他にも他の人の個展を見ることもでき'; }
  90% { content: '他にも他の人の個展を見ることもできる'; }
  95% { content: '他にも他の人の個展を見ることもできるニャ'; }
  100% { content: '他にも他の人の個展を見ることもできるニャ！'; }
}
@keyframes typing6 {
  0% { content: ''; }
  5% { content: 'こ'; }
  10% { content: 'ここ'; }
  15% { content: 'ここま'; }
  20% { content: 'ここまで'; }
  25% { content: 'ここまで話'; }
  30% { content: 'ここまで話を'; }
  35% { content: 'ここまで話を聞'; }
  40% { content: 'ここまで話を聞い'; }
  45% { content: 'ここまで話を聞いて'; }
  50% { content: 'ここまで話を聞いてく'; }
  55% { content: 'ここまで話を聞いてくれ'; }
  60% { content: 'ここまで話を聞いてくれて'; }
  65% { content: 'ここまで話を聞いてくれてあ'; }
  70% { content: 'ここまで話を聞いてくれてあり'; }
  75% { content: 'ここまで話を聞いてくれてありが'; }
  80% { content: 'ここまで話を聞いてくれてありが'; }
  85% { content: 'ここまで話を聞いてくれてありがと'; }
  90% { content: 'ここまで話を聞いてくれてありがとニ'; }
  95% { content: 'ここまで話を聞いてくれてありがとニャ'; }
  100% { content: 'ここまで話を聞いてくれてありがとニャ！'; }
}
  
  
  @keyframes blink {
    0%, 49.99% {
      opacity: 0;
    }
    50%, 100% {
      opacity: 1;
    }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
  
  .modalContent::after {
    content: '|';
    display: inline-block;
    width: 0; /* カーソルの幅 */
    border-right: 2px solid;
    padding-left: 5px; /* カーソルの左のスペース */
    animation: blink-caret 0.75s step-end infinite;

  }


  .speechBubble {
    position: absolute;
    top: -20px; /* 顔の上端からさらに上に配置 */
    left: 110%; /* 顔の右端から少し離れた位置に配置 */
    transform: translate(0, -100%); /* Y軸方向の中心を上にずらし、さらに上方向に少し移動 */
    background: linear-gradient(135deg, rgba(255,255,255,.4) 8%, rgba(255,255,255,.1) 60%, rgba(255,255,255,.2) 92%);
    border-radius: 50%; /* 丸みを増やす */
    padding: 10px 20px;
    color: #f1e9e9;
    font-size: 14px;
    font-family: var(--font-dot);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 3;
}

.speechBubble::after {
    content: "";
    position: absolute;
    bottom: -10px; /* 尾っぽの基点を吹き出しの下部に設定 */
    left: 20%; /* 尾っぽの左右の位置を調整 */
    width: 20px;
    height: 20px;
    background: inherit; /* 吹き出しと同じ背景色を使用 */
    border-radius: 50%;
    transform: translateX(-50%) rotate(45deg); /* 尾っぽを適切な角度に回転 */
    box-shadow: -2px 2px 2px rgba(0,0,0,0.1); /* 尾っぽにも影を追加 */
  }

  .speechBubble::before {
    content: "";
    position: absolute;
    bottom: -20px; /* 尾っぽの基点より下に配置 */
    left: 50%; /* 尾っぽの中心に配置 */
    width: 10px; /* 小さな丸のサイズ */
    height: 10px; /* 小さな丸のサイズ */
    background: inherit; /* 吹き出しと同じ背景色を使用 */
    border-radius: 50%; /* 完全な円形に */
    transform: translateX(-50%) translateY(50%) rotate(45deg); /* 尾っぽの左下に配置し、角度を調整 */
    box-shadow: -1px 1px 2px rgba(0,0,0,0.1); /* 小さな丸にも影を追加 */
  }
  