@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Darumadrop+One&family=DotGothic16&family=Monomaniac+One&family=Rampart+One&family=Stick&display=swap');



.modal {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background: linear-gradient(135deg, rgba(142, 182, 208, 0.8) 10%, rgba(255,255,255,.3) 60%, rgba(255,255,255,.2) 92%);
  transition: all ease .7s;
  color: #000000;
  padding: 20px;
  z-index: 1000;

  /* 吹き出しのスタイル */
  border-radius: 20px; /* 角丸の追加 */
  box-shadow: 0 0 10px rgba(0,0,0,0.2); /* 影の追加 */
}

.modal::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 100%;
  transform: translateX(-20%) rotate(-40deg);
  border-width: 10px;
  border-style: solid;
  border-color: rgba(255,255,255,.4) transparent transparent transparent;
}





.box{
    position : relative ;
    display : flex ;
    flex-wrap : wrap ;
    perspective : 400px ;
    width : 500px ;
    height :300px ;
    border-radius: 20px;
}
.box::before{
    content : '' ;
    position : absolute ;
    z-index : -1 ;
    bottom : 20px ;
    left : 0 ;
    right : 0 ;
    margin : 0 auto ;
    width : 160px ;
    height : 24px ;
    border-radius : 50% ;
    background : radial-gradient( rgba(0,0,0,.4) 10%, rgba(0,0,0,0) 50%) ;
    animation : shadow ease 3s infinite alternate ;
    opacity : .5 ;
}
.area{
    width : calc( 100% / 3 ) ;
    height : calc( 100% / 3 ) ; 
    box-sizing : border-box ;
}
.robot {
    position: fixed; /* 画面に対して固定 */
    top: 50%; /* 上から50%の位置 */
    left: 80%; /* 左から50%の位置 */
    transform: translate(-50%, -50%); /* 中心を基準点として配置 */
    z-index: 2;
    width: 192px;
    height: 64px;
    border-radius: 20px;
    /* その他のスタイル */
  }

  
  
.front,
.face{
    position : absolute ;
    z-index : 1 ;
    top : 0 ;
    left : 0 ;
    width : 200px ;
    height : 64px ;
    transform-origin : 50% 50% -40px ;
    transition : all ease .2s ;
    transform : rotateX(0) rotateY(0) ;
    perspective : 400px ;
    border-radius: 20px;
}
.face{
    z-index : 2 ;
    background : #fff; /* 背景色を白に設定 */
    background-image:
    radial-gradient(at 40% 20%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgba(0,0,0,0.1) 0px, transparent 50%);
    border-radius: 20px;
}
.face__wrapper{
    position : absolute ;
    top : 0 ;
    left : 0 ;
    right : 0 ;
    bottom : 0 ;
    margin : auto ;
    width : 200px ;
    height : 64px ;
    background : #333 ;
    box-shadow : 0 0 8px rgba(0,0,0,.6) inset ;
    border-radius: 20px;
}

.triangleMouth {
  content: '';
  position: absolute;
  bottom: 10px; /* 位置調整はそのまま */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent; /* 左側の透明な境界を小さく */
  border-right: 8px solid transparent; /* 右側の透明な境界を小さく */
  border-bottom: 8px solid #ffde55; /* 下向きの三角形を形成し、サイズを小さく */
  opacity: 1;
}

/* .face__wrapperにカーソルを当てた時に.triangleMouthのアニメーションを実行 */
.face__wrapper:hover .triangleMouth {
  animation: mouthBlink linear 0s forwards;
}

@keyframes mouthBlink {
  0%, 49% {
      opacity: 1;
  }
  50%, 100% {
      opacity: 0;
  }
}
.eye{
    position : absolute ;
    z-index : 1 ;
    top : 0 ;
    left : 0 ;
    right : 0 ;
    bottom : 0 ;
    margin : auto ;
    width : 150px ;
    height : 30px ;
    transition : all ease .3s ;
    
}
.eye::before,
.eye::after{
    content : '' ;
    position : absolute ;
    top : 0 ;
    bottom : 0 ;
    margin : auto ;
    width : 30px ;
    height : 30px ;
    border-radius : 20px ;
    background : #ffde55 ;
    box-sizing : border-box ;
    border : solid 1px #a48c00 ;
    box-shadow : 0 0 8px rgba(255,255,0 ,1)  ;
    animation : eye linear 6s infinite ;
    transition : all ease .2s ;
    
}
.eye::before{
    left : 0 ;
}
.eye::after{
    right : 0 ;
}
.text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    position : absolute ;
    z-index : 2 ;
    top : 0 ;
    left : 0 ;
    right : 0 ;
    bottom : 0 ;
    margin : auto ;
    width : 80% ;
    height : 70% ;
    font-size : 24px ;
    font-weight : bold ;
    color : transparent ;
    
    letter-spacing : 3px ;
    transition : all ease-out .2s ;
    border-radius: 20px;
}
.text::before,
.text::after{
    content : '' ;
    position : absolute ;
    width : 0 ;
    height : 2px ;
    background : #ffde55 ;
    transition : all ease-out .2s ;
    box-shadow : 0 0 8px rgba(255,255,0 ,1)  ;
}
.text::before{
    top : 0 ;
    left : 0 ;
}
.text::after{
    bottom : 0 ;
    right : 0 ;
}
@keyframes eye {
    0%  { height : 30px ; }
    10% { height : 30px ; }
    11% { height : 3px ; }
    12% { height : 30px ; }
    60% { height : 30px ; }
    61% { height : 3px ; }
    62% { height : 30px ; }
    63% { height : 30px ; }
    64% { height : 3px ; }
    65% { height : 30px ; }
    100%{ height : 30px ; }
}
.parts_A::before,
.parts_A::after{
    background : #888 ;
    background-color:hsla(0,4%,45%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(25,10%,31%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(188,8%,39%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(350,2%,45%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340,8%,20%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(19,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(29,15%,16%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(339,0%,60%,1) 0px, transparent 50%);
}
.parts_A::before,
.parts_A::after{
    content : '' ;
    position : absolute ;
    top : 0;
    width : 80px ;
    height : 80px ;
    transition : all ease .2s ;
}
.parts_A::before{
    right : 0 ;
    transform-origin : right center ;
    transform : rotateY(253deg) skewY(0);
}
.parts_A::after{
    left : 0 ;
    transform-origin : left center ;
    transform : rotateY(107deg) skewY(0);
}
.parts_B::before,
.parts_B::after{
    content : '' ;
    position : absolute ;
    top : 0 ;
    right : 0 ;
    width : 192px ;
    height : 64px ;
    transition : all ease .2s ;
}
.parts_B::before{
    transform-origin : bottom center ;
    transform : rotatex(96deg) skewX(0deg);
    background-color:hsla(0,4%,45%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(25,10%,31%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(188,8%,39%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(350,2%,45%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340,8%,20%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(19,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(29,15%,16%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(339,0%,60%,1) 0px, transparent 50%);
}
.parts_B::after{
    transform-origin : top center ;
    transform : rotatex(-96deg) skewX(0deg);
    background-color:hsla(0,4%,45%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(25,10%,31%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(188,8%,39%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(350,2%,45%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340,8%,20%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(19,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(29,15%,16%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(339,0%,60%,1) 0px, transparent 50%);
}
.area_1:hover ~ .robot .front,
.area_1:hover ~ .robot .face{
    transform : rotateX(20deg) rotateY(-35deg) ;
}
.area_1:hover ~ .robot .parts_A::before{
    transform : rotateY(207deg) skewY(-28deg);
}
.area_1:hover ~ .robot .parts_A::after{
    transform : rotateY(0deg) skewY(0deg);
}
.area_1:hover ~ .robot .parts_B::before{
    transform : rotatex(126deg) skewX(-46deg);
}
.area_1:hover ~ .robot .parts_B::after{
    transform : rotatex(-57deg) skewX(47deg);
    opacity : 0 ;
}
.area_2:hover ~ .robot .front,
.area_2:hover ~ .robot .face{
    transform : rotateX(20deg) rotateY(0) ;
}
.area_2:hover ~ .robot .parts_A::before{
    transform : rotateY(300deg) skewY(-30deg);
    opacity : 0 ;
}
.area_2:hover ~ .robot .parts_A::after{
    transform : rotateY(60deg) skewY(30deg);
    opacity : 0 ;
}
.area_2:hover ~ .robot .parts_B::before{
    transform : rotatex(116deg) skewX(0deg);
}
.area_2:hover ~ .robot .parts_B::after{
    transform : rotatex(-57deg) skewX(0deg);
    opacity : 0 ;
}
.area_3:hover ~ .robot .front,
.area_3:hover ~ .robot .face{
    transform : rotateX(20deg) rotateY(35deg) ;
}
.area_3:hover ~ .robot .parts_A::before{
    transform : rotateY(360deg) skewY(0deg);
}
.area_3:hover ~ .robot .parts_A::after{
    transform : rotateY(153deg) skewY(28deg);
}
.area_3:hover ~ .robot .parts_B::before{
    transform : rotatex(126deg) skewX(46deg);
}
.area_3:hover ~ .robot .parts_B::after{
    transform : rotatex(-57deg) skewX(-47deg);
    opacity : 0 ;
}
.area_4:hover ~ .robot .front,
.area_4:hover ~ .robot .face{
    transform : rotateX(0) rotateY(-35deg) ;
}
.area_4:hover ~ .robot .parts_A::before{
    transform : rotateY(207deg) skewY(0);
}
.area_4:hover ~ .robot .parts_A::after{
    transform : rotateY(0deg) skewY(0deg);
}
.area_4:hover ~ .robot .parts_B::before{
    transform : rotatex(93deg) skewX(-52deg);
    opacity : 0 ;
}
.area_4:hover ~ .robot .parts_B::after{
    transform : rotatex(-93deg) skewX(50deg);
    opacity : 0 ;
}
.area_6:hover ~ .robot .front,
.area_6:hover ~ .robot .face{
    transform : rotateX(0) rotateY(35deg) ;
}
.area_6:hover ~ .robot .parts_A::before{
    transform : rotateY(360deg) skewY(0deg);
}
.area_6:hover ~ .robot .parts_A::after{
    transform : rotateY(153deg) skewY(0);
}
.area_6:hover ~ .robot .parts_B::before{
    transform : rotatex(93deg) skewX(52deg);
    opacity : 0 ;
}
.area_6:hover ~ .robot .parts_B::after{
    transform : rotatex(-93deg) skewX(-50deg);
    opacity : 0 ;
}
.area_7:hover ~ .robot .front,
.area_7:hover ~ .robot .face{
    transform : rotateX(-20deg) rotateY(-35deg) ;
}
.area_7:hover ~ .robot .parts_A::before{
    transform : rotateY(207deg) skewY(28deg);
}
.area_7:hover ~ .robot .parts_A::after{
    transform : rotateY(0deg) skewY(0deg);
}
.area_7:hover ~ .robot .parts_B::before{
    transform : rotatex(57deg) skewX(-47deg);
    opacity : 0 ;
}
.area_7:hover ~ .robot .parts_B::after{
    transform : rotatex(-126deg) skewX(46deg);
}
.area_8:hover ~ .robot .front,
.area_8:hover ~ .robot .face{
    transform : rotateX(-20deg) rotateY(0) ;
}
.area_8:hover ~ .robot .parts_A::before{
    transform : rotateY(300deg) skewY(30deg);
    opacity : 0 ;
}
.area_8:hover ~ .robot .parts_A::after{
    transform : rotateY(60deg) skewY(-30deg);
    opacity : 0 ;
}
.area_8:hover ~ .robot .parts_B::before{
    transform : rotatex(57deg) skewX(0deg);
    opacity : 0 ;
}
.area_8:hover ~ .robot .parts_B::after{
    transform : rotatex(-116deg) skewX(0deg);
}
.area_9:hover ~ .robot .front,
.area_9:hover ~ .robot .face{
    transform : rotateX(-20deg) rotateY(35deg) ;
}
.area_9:hover ~ .robot .parts_A::before{
    transform : rotateY(360deg) skewY(0deg);
}
.area_9:hover ~ .robot .parts_A::after{
    transform : rotateY(153deg) skewY(-28deg);
}
.area_9:hover ~ .robot .parts_B::before{
    transform : rotatex(57deg) skewX(47deg);
    opacity : 0 ;
}
.area_9:hover ~ .robot .parts_B::after{
    transform : rotatex(-126deg) skewX(-46deg);
}
.area_1:hover ~ .robot .eye{
    transform : translate(-16px , -8px ) ;
}
.area_4:hover ~ .robot .eye{
    transform : translate(-16px , 0 ) ;
}
.area_7:hover ~ .robot .eye{
    transform : translate(-16px , 8px ) ;
}
.area_2:hover ~ .robot .eye{
    transform : translate( 0 , -8px ) ;
}
.area_8:hover ~ .robot .eye{
    transform : translate( 0 , 8px ) ;
}
.area_3:hover ~ .robot .eye{
    transform : translate(16px , -8px ) ;
}
.area_6:hover ~ .robot .eye{
    transform : translate(16px , 0 ) ;
}
.area_9:hover ~ .robot .eye{
    transform : translate(16px , 8px ) ;
}
.robot:hover .eye::before,
.robot:hover .eye::after{
    height : 3px ;
    animation-play-state : paused ;
    animation : hover ease .5s ;
    animation-fill-mode : forwards ;
}
.robot:hover .text{
    color : #ffde55 ;
    text-shadow : 0 0 4px #ffde55 ;
}
.robot:hover .text::before,
.robot:hover .text::after{
    width : 100% ;
}
@keyframes float {
    0%  { 
        transform : translate( 0 , 0 ) ;
    }
    100%{ 
        transform : translate( 0 , 20px ) ;
    }
}
@keyframes shadow {
    0%  { 
        transform : scale( 1 ) ;
        opacity : .5 ;
    }
    100%{ 
        transform : scale( 1.2 ) ;
        opacity : 1 ;
    }
}
@keyframes hover {
    0%  { 
        opacity : 1 ;
    }
    100%{ 
        opacity : 0 ;
    }
}










/* 本体には関係ないスタイル */
.container{
    position: fixed;
    width: 40%;
    height: 600px;
    top: 60%;
    left: 80%; /* 中央揃えに変更 */
    transform: translateX(-50%); /* 中央揃えのために追加 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 20px;
}
.button:not(:last-child){
    margin-bottom : 60px ;
}


/* Robot.module.css */
.modalContent {
    font-family: var(--font-dot);
    font-size: 20px;
    text-align: center;
    white-space: pre; /* 改行を保持 */
    
  }
  
  .modalContent::before {
    font-family: var(--font-dot);
    color: #ffde55;
    font-weight: 300;
    text-shadow: 0 0 2px #ffde55;
    content: "";
    animation: typing1 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }

  .modalContent.typing2::before {
    animation: typing2 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }
  .modalContent.typing3::before {
    animation: typing3 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }
  
  .modalContent.typing4::before {
    animation: typing4 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }
  
  .modalContent.typing5::before {
    animation: typing5 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }

  .modalContent.typing6::before {
    animation: typing6 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing1 {
    0% { content: ''; }
    5% { content: '「'; }
    10% { content: '「G'; }
    15% { content: '「Ga'; }
    20% { content: '「Gal'; }
    25% { content: '「Gall'; }
    30% { content: '「Galle'; }
    35% { content: '「Gallery'; }
    40% { content: '「Gallery.'; }
    45% { content: '「Gallery.a'; }
    50% { content: '「Gallery.ai'; }
    55% { content: '「Gallery.ai」'; }
    60% { content: '「Gallery.ai」へ'; }
    65% { content: '「Gallery.ai」へヨ'; }
    70% { content: '「Gallery.ai」へヨー'; }
    75% { content: '「Gallery.ai」へヨーコ'; }
    80% { content: '「Gallery.ai」へヨーコソ'; }
    85% { content: '「Gallery.ai」へヨーコソ！'; }
    90% { content: '「Gallery.ai」ーコソ！ニ'; }
    95% { content: '「Gallery.ai」へヨーコソ！ニャ！'; }
    100% { content: '「Gallery.ai」へヨーコソ！ニャ！'; }
}
@keyframes typing2 {
    0% { content: ''; }
    5% { content: 'ボ'; }
    10% { content: 'ボク'; }
    15% { content: 'ボクは'; }
    20% { content: 'ボクはニ'; }
    25% { content: 'ボクはニャ'; }
    30% { content: 'ボクはニャビ'; }
    35% { content: 'ボクはニャビ！'; }
    40% { content: 'ボクはニャビ！ア'; }
    45% { content: 'ボクはニャビ！アナ'; }
    50% { content: 'ボクはニャビ！アナタ'; }
    55% { content: 'ボクはニャビ！アナタの'; }
    60% { content: 'ボクはニャビ！アナタのニ'; }
    65% { content: 'ボクはニャビ！アナタのニャ'; }
    70% { content: 'ボクはニャビ！アナタのニャビ'; }
    75% { content: 'ボクはニャビ！アナタのニャビゲ'; }
    80% { content: 'ボクはニャビ！アナタのニャビゲー'; }
    85% { content: 'ボクはニャビ！アナタのニャビゲーシ'; }
    90% { content: 'ボクはニャビ！アナタのニャビゲーショ'; }
    95% { content: 'ボクはニャビ！アナタのニャビゲーション'; }
    100% { content: 'ボクはニャビ！アナタのニャビゲーションロボットニャ！'; }
}

@keyframes typing3 {
    0% { content: ''; }
    5% { content: 'ヨ'; }
    10% { content: 'ヨロ'; }
    15% { content: 'ヨロシ'; }
    20% { content: 'ヨロシク'; }
    25% { content: 'ヨロシク！'; }
    30% { content: 'ヨロシク！('; }
    35% { content: 'ヨロシク！(^'; }
    40% { content: 'ヨロシク！(^_'; }
    45% { content: 'ヨロシク！(^_-'; }
    50% { content: 'ヨロシク！(^_-)'; }
    55% { content: 'ヨロシク！(^_-)ニ'; }
    60% { content: 'ヨロシク！(^_-)ニャ'; }
    65% { content: 'ヨロシク！(^_-)ニャ！'; }
    70% { content: 'ヨロシク！(^_-)ニャ！'; }
    75% { content: 'ヨロシク！(^_-)ニャ！'; }
    80% { content: 'ヨロシク！(^_-)ニャ！'; }
    85% { content: 'ヨロシク！(^_-)ニャ！'; }
    90% { content: 'ヨロシク！(^_-)ニャ！'; }
    95% { content: 'ヨロシク！(^_-)ニャ！'; }
    100% { content: 'ヨロシク！(^_-)ニャ！'; }
  }
  
  /* typing4 アニメーション */
  @keyframes typing4 {
    0% { content: ''; }
    5% { content: '「G'; }
    10% { content: '「Ga'; }
    15% { content: '「Gal'; }
    20% { content: '「Gall'; }
    25% { content: '「Galle'; }
    30% { content: '「Gallery'; }
    35% { content: '「Gallery.'; }
    40% { content: '「Gallery.a'; }
    45% { content: '「Gallery.ai'; }
    50% { content: '「Gallery.ai」で'; }
    55% { content: '「Gallery.ai」では'; }
    60% { content: '「Gallery.ai」では「AIガゾウの生成'; }
    65% { content: '「Gallery.ai」では「AIガゾウの生成」と'; }
    70% { content: '「Gallery.ai」では「AIガゾウの生成」と「コテンの作成'; }
    75% { content: '「Gallery.ai」では「AIガゾウの生成」と「コテンの作成」が'; }
    80% { content: '「Gallery.ai」では「AIガゾウの生成」と「コテンの作成」ができ'; }
    85% { content: '「Gallery.ai」では「AIガゾウの生成」と「コテンの作成」ができる'; }
    90% { content: '「Gallery.ai」では「AIガゾウの生成」と「コテンの作成」ができるに'; }
    95% { content: '「Gallery.ai」では「AIガゾウの生成」と「コテンの作成」ができるニャ'; }
    100% { content: '「Gallery.ai」では「AIガゾウの生成」と「コテンの作成」ができるニャ！'; }
  }
  
  /* typing5 アニメーション */

  @keyframes typing5 {
    0% { content: ''; }
    2% { content: '「'; }
    4% { content: '「S'; }
    6% { content: '「Sh'; }
    8% { content: '「Sha'; }
    10% { content: '「Shar'; }
    15% { content: '「Share'; }
    20% { content: '「Share」'; }
    25% { content: '「Share」ボ'; }
    30% { content: '「Share」ボタ'; }
    35% { content: '「Share」ボタン'; }
    40% { content: '「Share」ボタンで'; }
    45% { content: '「Share」ボタンでコ'; }
    50% { content: '「Share」ボタンでコテ'; }
    55% { content: '「Share」ボタンでコテン'; }
    60% { content: '「Share」ボタンでコテンを'; }
    65% { content: '「Share」ボタンでコテンをシ'; }
    70% { content: '「Share」ボタンでコテンをシェ'; }
    75% { content: '「Share」ボタンでコテンをシェア'; }
    80% { content: '「Share」ボタンでコテンをシェアも'; }
    85% { content: '「Share」ボタンでコテンをシェアもでき'; }
    90% { content: '「Share」ボタンでコテンをシェアもできる'; }
    95% { content: '「Share」ボタンでコテンをシェアもできるニャ'; }
    100% { content: '「Share」ボタンでコテンをシェアもできるニャ！'; }
}
    

@keyframes typing6 {
    0% { content: ''; }
    5% { content: '「'; }
    10% { content: '「G'; }
    15% { content: '「Ga'; }
    20% { content: '「Gal'; }
    25% { content: '「Gall'; }
    30% { content: '「Galle'; }
    35% { content: '「Gallery'; }
    40% { content: '「Gallery.'; }
    45% { content: '「Gallery.a'; }
    50% { content: '「Gallery.ai'; }
    55% { content: '「Gallery.ai」'; }
    60% { content: '「Gallery.ai」の'; }
    65% { content: '「Gallery.ai」のセ'; }
    70% { content: '「Gallery.ai」のセカ'; }
    75% { content: '「Gallery.ai」のセカイ'; }
    80% { content: '「Gallery.ai」のセカイにレ'; }
    85% { content: '「Gallery.ai」のセカイにレッ'; }
    90% { content: '「Gallery.ai」のセカイにレッツ'; }
    95% { content: '「Gallery.ai」のセカイにレッツゴ'; }
    100% { content: '「Gallery.ai」のセカイにレッツゴー！ニャ！'; }
}
  
  
  @keyframes blink {
    0%, 49.99% {
      opacity: 0;
    }
    50%, 100% {
      opacity: 1;
    }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
  
  .modalContent::after {
    content: '|';
    display: inline-block;
    width: 0; /* カーソルの幅 */
    border-right: 2px solid;
    padding-left: 5px; /* カーソルの左のスペース */
    animation: blink-caret 0.75s step-end infinite;

  }


  .speechBubble {
    position: absolute;
    top: -30px;
    left: 110%;
    transform: translate(0, -100%);
    background: linear-gradient(135deg, rgba(255,255,255,.4) 8%, rgba(255,255,255,.1) 60%, rgba(255,255,255,.2) 92%);
    border-radius: 50%;
    padding: 20px 35px;
    color: #f1e9e9;
    font-size: 20px;
    font-family: var(--font-dot);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 3;
    width: auto;
    min-width: 140px;
    text-align: center;
}

.speechBubble::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 20%;
    width: 20px;
    height: 20px;
    background: inherit;
    border-radius: 50%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: -2px 2px 2px rgba(0,0,0,0.1);
}

.speechBubble::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 10%;
    width: 10px;
    height: 10px;
    background: inherit;
    border-radius: 50%;
    transform: translateX(-50%) translateY(50%) rotate(45deg);
    box-shadow: -1px 1px 2px rgba(0,0,0,0.1);
}
  
.blinkText {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 49.99% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}
  