.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background : linear-gradient( 135deg , rgba(255,255,255,.4) 8% , rgba(255,255,255,.1) 60% , rgba(255,255,255,.2) 92% ) ;
    transition : all ease .7s ;
    color : #000000 ;
    padding: 20px;
    z-index: 1000;

}

.box{
    position : relative ;
    display : flex ;
    flex-wrap : wrap ;
    perspective : 400px ;
    width : 500px ;
    height :300px ;
    border-radius: 20px;
}
.box::before{
    content : '' ;
    position : absolute ;
    z-index : -1 ;
    bottom : 20px ;
    left : 0 ;
    right : 0 ;
    margin : 0 auto ;
    width : 160px ;
    height : 24px ;
    border-radius : 50% ;
    background : radial-gradient( rgba(0,0,0,.4) 10%, rgba(0,0,0,0) 50%) ;
    animation : shadow ease 3s infinite alternate ;
    opacity : .5 ;
}
.area{
    width : calc( 100% / 3 ) ;
    height : calc( 100% / 3 ) ; 
    box-sizing : border-box ;
}
.robot {
    position: fixed; /* 画面に対して固定 */
    top: 50%; /* 上から50%の位置 */
    left: 80%; /* 左から50%の位置 */
    transform: translate(-50%, -50%); /* 中心を基準点として配置 */
    z-index: 2;
    width: 192px;
    height: 64px;
    border-radius: 20px;
    /* その他のスタイル */
  }
  
.front,
.face{
    position : absolute ;
    z-index : 1 ;
    top : 0 ;
    left : 0 ;
    width : 200px ;
    height : 64px ;
    transform-origin : 50% 50% -40px ;
    transition : all ease .2s ;
    transform : rotateX(0) rotateY(0) ;
    perspective : 400px ;
    border-radius: 20px;
}
.face{
    z-index : 2 ;
    background : #fff; /* 背景色を白に設定 */
    background-image:
    radial-gradient(at 40% 20%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgba(0,0,0,0.1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgba(0,0,0,0.1) 0px, transparent 50%);
    border-radius: 20px;
}
.face__wrapper{
    position : absolute ;
    top : 0 ;
    left : 0 ;
    right : 0 ;
    bottom : 0 ;
    margin : auto ;
    width : 200px ;
    height : 64px ;
    background : #333 ;
    box-shadow : 0 0 8px rgba(0,0,0,.6) inset ;
    border-radius: 20px;
}
.eye{
    position : absolute ;
    z-index : 1 ;
    top : 0 ;
    left : 0 ;
    right : 0 ;
    bottom : 0 ;
    margin : auto ;
    width : 150px ;
    height : 30px ;
    transition : all ease .3s ;
}
.eye::before,
.eye::after{
    content : '' ;
    position : absolute ;
    top : 0 ;
    bottom : 0 ;
    margin : auto ;
    width : 30px ;
    height : 30px ;
    border-radius : 20px ;
    background : #ffde55 ;
    box-sizing : border-box ;
    border : solid 1px #a48c00 ;
    box-shadow : 0 0 8px rgba(255,255,0 ,1)  ;
    animation : eye linear 6s infinite ;
    transition : all ease .2s ;
}
.eye::before{
    left : 0 ;
}
.eye::after{
    right : 0 ;
}
.text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    position : absolute ;
    z-index : 2 ;
    top : 0 ;
    left : 0 ;
    right : 0 ;
    bottom : 0 ;
    margin : auto ;
    width : 80% ;
    height : 70% ;
    font-size : 24px ;
    font-weight : bold ;
    color : transparent ;
    font-family: 'Courier New', cursive;
    letter-spacing : 3px ;
    transition : all ease-out .2s ;
    border-radius: 20px;
}
.text::before,
.text::after{
    content : '' ;
    position : absolute ;
    width : 0 ;
    height : 2px ;
    background : #ffde55 ;
    transition : all ease-out .2s ;
    box-shadow : 0 0 8px rgba(255,255,0 ,1)  ;
}
.text::before{
    top : 0 ;
    left : 0 ;
}
.text::after{
    bottom : 0 ;
    right : 0 ;
}
@keyframes eye {
    0%  { height : 30px ; }
    10% { height : 30px ; }
    11% { height : 3px ; }
    12% { height : 30px ; }
    60% { height : 30px ; }
    61% { height : 3px ; }
    62% { height : 30px ; }
    63% { height : 30px ; }
    64% { height : 3px ; }
    65% { height : 30px ; }
    100%{ height : 30px ; }
}
.parts_A::before,
.parts_A::after{
    background : #888 ;
    background-color:hsla(0,4%,45%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(25,10%,31%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(188,8%,39%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(350,2%,45%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340,8%,20%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(19,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(29,15%,16%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(339,0%,60%,1) 0px, transparent 50%);
}
.parts_A::before,
.parts_A::after{
    content : '' ;
    position : absolute ;
    top : 0;
    width : 80px ;
    height : 80px ;
    transition : all ease .2s ;
}
.parts_A::before{
    right : 0 ;
    transform-origin : right center ;
    transform : rotateY(253deg) skewY(0);
}
.parts_A::after{
    left : 0 ;
    transform-origin : left center ;
    transform : rotateY(107deg) skewY(0);
}
.parts_B::before,
.parts_B::after{
    content : '' ;
    position : absolute ;
    top : 0 ;
    right : 0 ;
    width : 192px ;
    height : 64px ;
    transition : all ease .2s ;
}
.parts_B::before{
    transform-origin : bottom center ;
    transform : rotatex(96deg) skewX(0deg);
    background-color:hsla(0,4%,45%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(25,10%,31%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(188,8%,39%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(350,2%,45%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340,8%,20%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(19,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(29,15%,16%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(339,0%,60%,1) 0px, transparent 50%);
}
.parts_B::after{
    transform-origin : top center ;
    transform : rotatex(-96deg) skewX(0deg);
    background-color:hsla(0,4%,45%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(25,10%,31%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(188,8%,39%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(350,2%,45%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340,8%,20%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(19,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(29,15%,16%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(339,0%,60%,1) 0px, transparent 50%);
}
.area_1:hover ~ .robot .front,
.area_1:hover ~ .robot .face{
    transform : rotateX(20deg) rotateY(-35deg) ;
}
.area_1:hover ~ .robot .parts_A::before{
    transform : rotateY(207deg) skewY(-28deg);
}
.area_1:hover ~ .robot .parts_A::after{
    transform : rotateY(0deg) skewY(0deg);
}
.area_1:hover ~ .robot .parts_B::before{
    transform : rotatex(126deg) skewX(-46deg);
}
.area_1:hover ~ .robot .parts_B::after{
    transform : rotatex(-57deg) skewX(47deg);
    opacity : 0 ;
}
.area_2:hover ~ .robot .front,
.area_2:hover ~ .robot .face{
    transform : rotateX(20deg) rotateY(0) ;
}
.area_2:hover ~ .robot .parts_A::before{
    transform : rotateY(300deg) skewY(-30deg);
    opacity : 0 ;
}
.area_2:hover ~ .robot .parts_A::after{
    transform : rotateY(60deg) skewY(30deg);
    opacity : 0 ;
}
.area_2:hover ~ .robot .parts_B::before{
    transform : rotatex(116deg) skewX(0deg);
}
.area_2:hover ~ .robot .parts_B::after{
    transform : rotatex(-57deg) skewX(0deg);
    opacity : 0 ;
}
.area_3:hover ~ .robot .front,
.area_3:hover ~ .robot .face{
    transform : rotateX(20deg) rotateY(35deg) ;
}
.area_3:hover ~ .robot .parts_A::before{
    transform : rotateY(360deg) skewY(0deg);
}
.area_3:hover ~ .robot .parts_A::after{
    transform : rotateY(153deg) skewY(28deg);
}
.area_3:hover ~ .robot .parts_B::before{
    transform : rotatex(126deg) skewX(46deg);
}
.area_3:hover ~ .robot .parts_B::after{
    transform : rotatex(-57deg) skewX(-47deg);
    opacity : 0 ;
}
.area_4:hover ~ .robot .front,
.area_4:hover ~ .robot .face{
    transform : rotateX(0) rotateY(-35deg) ;
}
.area_4:hover ~ .robot .parts_A::before{
    transform : rotateY(207deg) skewY(0);
}
.area_4:hover ~ .robot .parts_A::after{
    transform : rotateY(0deg) skewY(0deg);
}
.area_4:hover ~ .robot .parts_B::before{
    transform : rotatex(93deg) skewX(-52deg);
    opacity : 0 ;
}
.area_4:hover ~ .robot .parts_B::after{
    transform : rotatex(-93deg) skewX(50deg);
    opacity : 0 ;
}
.area_6:hover ~ .robot .front,
.area_6:hover ~ .robot .face{
    transform : rotateX(0) rotateY(35deg) ;
}
.area_6:hover ~ .robot .parts_A::before{
    transform : rotateY(360deg) skewY(0deg);
}
.area_6:hover ~ .robot .parts_A::after{
    transform : rotateY(153deg) skewY(0);
}
.area_6:hover ~ .robot .parts_B::before{
    transform : rotatex(93deg) skewX(52deg);
    opacity : 0 ;
}
.area_6:hover ~ .robot .parts_B::after{
    transform : rotatex(-93deg) skewX(-50deg);
    opacity : 0 ;
}
.area_7:hover ~ .robot .front,
.area_7:hover ~ .robot .face{
    transform : rotateX(-20deg) rotateY(-35deg) ;
}
.area_7:hover ~ .robot .parts_A::before{
    transform : rotateY(207deg) skewY(28deg);
}
.area_7:hover ~ .robot .parts_A::after{
    transform : rotateY(0deg) skewY(0deg);
}
.area_7:hover ~ .robot .parts_B::before{
    transform : rotatex(57deg) skewX(-47deg);
    opacity : 0 ;
}
.area_7:hover ~ .robot .parts_B::after{
    transform : rotatex(-126deg) skewX(46deg);
}
.area_8:hover ~ .robot .front,
.area_8:hover ~ .robot .face{
    transform : rotateX(-20deg) rotateY(0) ;
}
.area_8:hover ~ .robot .parts_A::before{
    transform : rotateY(300deg) skewY(30deg);
    opacity : 0 ;
}
.area_8:hover ~ .robot .parts_A::after{
    transform : rotateY(60deg) skewY(-30deg);
    opacity : 0 ;
}
.area_8:hover ~ .robot .parts_B::before{
    transform : rotatex(57deg) skewX(0deg);
    opacity : 0 ;
}
.area_8:hover ~ .robot .parts_B::after{
    transform : rotatex(-116deg) skewX(0deg);
}
.area_9:hover ~ .robot .front,
.area_9:hover ~ .robot .face{
    transform : rotateX(-20deg) rotateY(35deg) ;
}
.area_9:hover ~ .robot .parts_A::before{
    transform : rotateY(360deg) skewY(0deg);
}
.area_9:hover ~ .robot .parts_A::after{
    transform : rotateY(153deg) skewY(-28deg);
}
.area_9:hover ~ .robot .parts_B::before{
    transform : rotatex(57deg) skewX(47deg);
    opacity : 0 ;
}
.area_9:hover ~ .robot .parts_B::after{
    transform : rotatex(-126deg) skewX(-46deg);
}
.area_1:hover ~ .robot .eye{
    transform : translate(-16px , -8px ) ;
}
.area_4:hover ~ .robot .eye{
    transform : translate(-16px , 0 ) ;
}
.area_7:hover ~ .robot .eye{
    transform : translate(-16px , 8px ) ;
}
.area_2:hover ~ .robot .eye{
    transform : translate( 0 , -8px ) ;
}
.area_8:hover ~ .robot .eye{
    transform : translate( 0 , 8px ) ;
}
.area_3:hover ~ .robot .eye{
    transform : translate(16px , -8px ) ;
}
.area_6:hover ~ .robot .eye{
    transform : translate(16px , 0 ) ;
}
.area_9:hover ~ .robot .eye{
    transform : translate(16px , 8px ) ;
}
.robot:hover .eye::before,
.robot:hover .eye::after{
    height : 3px ;
    animation-play-state : paused ;
    animation : hover ease .5s ;
    animation-fill-mode : forwards ;
}
.robot:hover .text{
    color : #ffde55 ;
    text-shadow : 0 0 4px #ffde55 ;
}
.robot:hover .text::before,
.robot:hover .text::after{
    width : 100% ;
}
@keyframes float {
    0%  { 
        transform : translate( 0 , 0 ) ;
    }
    100%{ 
        transform : translate( 0 , 20px ) ;
    }
}
@keyframes shadow {
    0%  { 
        transform : scale( 1 ) ;
        opacity : .5 ;
    }
    100%{ 
        transform : scale( 1.2 ) ;
        opacity : 1 ;
    }
}
@keyframes hover {
    0%  { 
        opacity : 1 ;
    }
    100%{ 
        opacity : 0 ;
    }
}










/* 本体には関係ないスタイル */
.container{
    position: fixed;
    width: 40%;
    height: 400px;
    top: 60%;
    left: 80%; /* 中央揃えに変更 */
    transform: translateX(-50%); /* 中央揃えのために追加 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 20px;
}
.button:not(:last-child){
    margin-bottom : 60px ;
}


/* Robot.module.css */
.modalContent {
    font-family: "Arial";
    font-size: 20px;
    text-align: center;
    white-space: pre; /* 改行を保持 */
    
  }
  
  .modalContent::before {
    content: "";
    animation: typing1 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }

  .modalContent.typing2::before {
    animation: typing2 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }
  .modalContent.typing3::before {
    animation: typing3 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }
  
  .modalContent.typing4::before {
    animation: typing4 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }
  
  .modalContent.typing5::before {
    animation: typing5 1s steps(30, end) 0s forwards, blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing1 {
    0% {
      content: '';
    }
    5% {
      content: 'こ';
    }
    10% {
      content: 'こん';
    }
    15% {
      content: 'こんに';
    }
    20% {
      content: 'こんにち';
    }
    25% {
      content: 'こんにちは';
    }
    30% {
      content: 'こんにちは！';
    }
    35% {
      content: 'こんにちは！A';
    }
    40% {
      content: 'こんにちは！AL';
    }
    45% {
      content: 'こんにちは！ALC';
    }
    50% {
      content: 'こんにちは！ALCH';
    }
    55% {
      content: 'こんにちは！ALCHE';
    }
    60% {
      content: 'こんにちは！ALCHEM';
    }
    65% {
      content: 'こんにちは！ALCHEMI';
    }
    70% {
      content: 'こんにちは！ALCHEMIS';
    }
    75% {
      content: 'こんにちは！ALCHEMIST';
    }
    80% {
      content: 'こんにちは！ALCHEMISTへ';
    }
    85% {
      content: 'こんにちは！ALCHEMISTへよ';
    }
    90% {
      content: 'こんにちは！ALCHEMISTへよう';
    }
    95% {
      content: 'こんにちは！ALCHEMISTへようこ';
    }
    100% {
      content: 'こんにちは！ALCHEMISTへようこそ！';
    }
  }
  @keyframes typing2 {
    0% {
      content: '';
    }
    5% {
      content: 'わ';
    }
    10% {
      content: 'わた';
    }
    15% {
      content: 'わたし';
    }
    20% {
      content: 'わたしは';
    }
    25% {
      content: 'わたしはナ';
    }
    30% {
      content: 'わたしはナビ';
    }
    35% {
      content: 'わたしはナビゲ';
    }
    40% {
      content: 'わたしはナビゲー';
    }
    45% {
      content: 'わたしはナビゲーシ';
    }
    50% {
      content: 'わたしはナビゲーショ';
    }
    55% {
      content: 'わたしはナビゲーション';
    }
    60% {
      content: 'わたしはナビゲーションを';
    }
    65% {
      content: 'わたしはナビゲーションを務';
    }
    70% {
      content: 'わたしはナビゲーションを務め';
    }
    75% {
      content: 'わたしはナビゲーションを務めま';
    }
    80% {
      content: 'わたしはナビゲーションを務めます';
    }
    85% {
      content: 'わたしはナビゲーションを務めますA';
    }
    90% {
      content: 'わたしはナビゲーションを務めますAI';
    }
    95% {
      content: 'わたしはナビゲーションを務めますAI「';
    }
    100% {
      content: 'わたしはナビゲーションを務めますAI「195」とお呼びください！！';
    }
}
@keyframes typing3 {
    0% { content: ''; }
    5% { content: 'A'; }
    10% { content: 'AL'; }
    15% { content: 'ALC'; }
    20% { content: 'ALCH'; }
    25% { content: 'ALCHE'; }
    30% { content: 'ALCHEM'; }
    35% { content: 'ALCHEMI'; }
    40% { content: 'ALCHEMIS'; }
    45% { content: 'ALCHEMIST'; }
    50% { content: 'ALCHEMISTは'; }
    55% { content: 'ALCHEMISTはA'; }
    60% { content: 'ALCHEMISTはAI'; }
    65% { content: 'ALCHEMISTはAI画'; }
    70% { content: 'ALCHEMISTはAI画像'; }
    75% { content: 'ALCHEMISTはAI画像生'; }
    80% { content: 'ALCHEMISTはAI画像生成'; }
    85% { content: 'ALCHEMISTはAI画像生成サ'; }
    90% { content: 'ALCHEMISTはAI画像生成サー'; }
    95% { content: 'ALCHEMISTはAI画像生成サービ'; }
    100% { content: 'ALCHEMISTはAI画像生成サービスです'; }
  }
  
  /* typing4 アニメーション */
  @keyframes typing4 {
    0% { content: ''; }
    25% { content: 'ロボット'; }
    50% { content: 'ロボットが'; }
    75% { content: 'ロボットが動き'; }
    100% { content: 'ロボットが動きます'; }
  }
  
  /* typing5 アニメーション */
  @keyframes typing5 {
    0% { content: ''; }
    20% { content: 'こんにちは、'; }
    40% { content: 'こんにちは、世界'; }
    60% { content: 'こんにちは、世界！'; }
    80% { content: 'こんにちは、世界！！'; }
    100% { content: 'こんにちは、世界！！！'; }
  }
  
  
  @keyframes blink {
    0%, 49.99% {
      opacity: 0;
    }
    50%, 100% {
      opacity: 1;
    }
  }
  
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
  
  .modalContent::after {
    content: '|';
    display: inline-block;
    width: 0; /* カーソルの幅 */
    border-right: 2px solid;
    padding-left: 5px; /* カーソルの左のスペース */
    animation: blink-caret 0.75s step-end infinite;

  }