@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  
}

body {
    margin: 0px;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  }

  .top_text {
    animation: fadeIn 4s ease-in-out;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
    letter-spacing: 0.2em;
    line-height: 1.5; 
    text-transform: uppercase;
    transform: translate(-50%, -50%) rotate(-5deg); 
    color: black;
    font-size: 80px;
    position: absolute;
    top: 140%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 9999;  
    background: linear-gradient(to right, #878282, #000000);

  /* グラデーションの文字にぼかしをかける */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  }
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}

  }
  .top_text-2 {
    animation: fadeIn 4s ease-in-out;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
    letter-spacing: 0.2em;
    line-height: 1.5; 
    text-transform: uppercase;
    transform: translate(-50%, -50%) rotate(-5deg); 
    color: white;
    font-size: 30px;
    position: absolute;
    top: 210%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 9999;  
    background: linear-gradient(to right, #f4f4f4, #fffcfc);

  /* グラデーションの文字にぼかしをかける */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  }
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}

  }
  .top_text2 {
    animation: fadeIn 4s ease-in-out;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
    letter-spacing: 0.2em;
    line-height: 1.5; 
    text-transform: uppercase;
    transform: translate(-50%, -50%) rotate(-5deg); 
    color: black;
    font-size: 90px;
    position: absolute;
    top: 35%;
    left: 5%;
    transform: translate(-50%, -50%);
    z-index: 9999;  
    background: linear-gradient(to right, #878282, #000000);

  /* グラデーションの文字にぼかしをかける */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  }
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}

  }
  .top_text3 {
    animation: fadeIn 4s ease-in-out;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
    letter-spacing: 0.2em;
    line-height: 1.5; 
    text-transform: uppercase;
    transform: translate(-50%, -50%) rotate(-5deg); 
    color: black;
    font-size: 90px;
    position: absolute;
    top: 85%;
    left: 95%;
    transform: translate(-50%, -50%);
    z-index: 9999;  
    background: linear-gradient(to right, #878282, #000000);

  /* グラデーションの文字にぼかしをかける */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  }
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}

  }

  .login {
    position: absolute;
    top: 0%;
    right: 0%;
    border-radius: 50%;
    width: 15%;
  }
  
  .createPostButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3897f0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}

.createPostButton:hover {
  background-color: #1565c0;
}

.createPostButton:active {
  box-shadow: none;
  transform: translateY(2px);
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 800px;
  width: 800px;

}
.artpost {
    top: 180%;
    left: 80%;
    position : absolute  ;
    width: 200px;
  }
  
  
  
.balloon {
    position: relative;
    top: 50%;
    padding: 15px;
    border: 3px solid #333;
    background-color: white;
    color: #333;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    background : linear-gradient( 135deg , rgba(255,255,255,.4) 8% , rgba(255,255,255,.1) 60% , rgba(255,255,255,.2) 92% ) ;
  transition : all ease .7s ;
  color : #fff ;
}

.balloon :before {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) skew(-25deg);
    height: 25px;
    width: 15px;
    border-right: 3px solid #333;
    background-color: white;
    content: "";
}


body,
h2,
p {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

.header {
  font-size: 20px;
  padding: 16px 24px;
}

.App {
  min-height: 200vh;
  background-color: greenyellow;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 16px 24px;
}

.contents {
  padding: 8px 24px;
  overscroll-behavior: contain;
  overflow-y: scroll;
}

.containerInner {
  position: relative;
  margin: 16px 8px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 462px;
  border: 1px solid black;
  border-radius: 10px;
}

.button {
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.openButton {
  background-color: #edf2f7;
}

.openButton:hover {
  background-color: #e2e8f0;
}

.closeButton {
  background-color: #3182ce;
  color: #fff;
}

.closeButton:hover {
  background-color: #2b6cb0;
}

.nextButton {
  background-color: transparent;
  margin-left: 4px;
}

.nextButton:hover {
  background-color: #e2e8f0;
}

.iconClose {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.iconClose:hover {
  background-color: #e2e8f0;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
 }