/* CreatePost.module.css */

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
    background-color: #ffffff;
    top : 40%;
  }
  
  .form {
    position : relative;
    top : 60px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .label {
    
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  
  .input ,
  .textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
  }

  .previewImage {
    width: 400px;
    height: 400px;
    object-fit: cover; /* 画像を正方形にクロップ */
    margin-right: auto; /* 右端に寄せる */
  }
  
  /* Home.module.css */
  
  .homeContainer {
    background-color :#ff0000;
    max-width: 40%;
    margin: 0 auto;
    padding: 100px;
  }
  
  .postCard {
    flex-basis: calc(33.3333% - 10px);
    margin-bottom: 15px;
  }
  
  .postCard h2 {
    margin: 0 0 10px 0;
  }
  .postsContainer {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    background-color: #ffffff;
  }
  
  .post {
    width: calc(100% / 3); 
    height: calc(100% / 3);
    border: 1px solid white;
    box-sizing: border-box;
  }
  .postCardBox {
    text-decoration: none;
    color: #858585;
  }
  
  .createButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    box-shadow: 0 5px #0056b3;
  }
  
  .createButton:hover {
    background-color: #0056b3;
    box-shadow: 0 3px #003366;
  }
  .createButton:active {
    box-shadow: 0 1px #003366; /* クリック時にシャドウをさらに小さくして押されたような効果を出す */
    transform: translateY(4px); /* クリック時にボタン自体を少しだけ下に動かして押された効果を出す */
  }

  .editButton {
    background-color: #11a42c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0 5px #0d8b24;
  }
  
  .editButton:hover {
    background-color: #077810;
    box-shadow: 0 3px #0a6d1b;
  }

  .editButton:active {
    box-shadow: 0 1px #0a6d1b; /* アクティブ（クリック）時に影をさらに小さくして押されているように見せる */
    transform: translateY(4px); /* アクティブ（クリック）時にボタンを少し下に移動 */
}
  
  .deleteButton {
    background-color: #e02424;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 5px #b71c1c;
  }
  
  .deleteButton:hover {
    background-color: #9e1b1b;
    box-shadow: 0 3px #9e1506;
  }
  .deleteButton:active {
    box-shadow: 0 1px #9e1506; /* クリック時にシャドウをさらに小さくして押されたような効果を出す */
    transform: translateY(4px); /* クリック時にボタン自体を少しだけ下に動かして押された効果を出す */
}